{% extends "partials/layout.njk" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
    {% include "partials/pop-header.njk" %}
    <hr class="govuk-section-break--l">

    {% if errorMessages %}
        {% set errorList = errorMessages | toErrorList %}
        {% if errorList.length > 0 %}
            <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errorList,
                attributes: { "data-qa": "errorList"}
            }) }}
            </div>
            </div>
        {% endif %}
    {% endif %}
    {% if title %}
        <h2 class="govuk-heading-l govuk-!-margin-bottom-6" data-qa="pageHeading">
            {{ title }}
        </h2>
    {% endif %}
        {% block pageContent %}{% endblock %}
{% endblock %}
