{% extends "../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set backLink = '/case/' + crn + '/activity-log/' %}

{% block pageTitle %}
    Add a frequently used contact - {{ headerPersonName.forename }} {{ headerPersonName.surname }}
{% endblock %}

{% block content %}
    {% include "../../partials/pop-header.njk" %}

    {% if errorMessages %}
        {% set errorList = [] %}
        {% for field, message in errorMessages %}
            {% set errorList = (errorList.push({
                text: message,
                href: "#" + field
            }), errorList) %}
        {% endfor %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
        }) }}
    {% endif %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-m">Add a frequently used contact</h2>

            <p class="govuk-body">
                You can currently add the most frequently used contacts using this service. For any other contacts,
                <a href="{{ ndeliusDeepLinkUrl }}" target="_blank" class="govuk-link">use NDelius (opens in new tab).</a>
            </p>

            <form method="post" action="/case/{{ crn }}/add-frequently-used-contact" id="choose-contact-form"
                  data-ndelius-url="{{ ndeliusDeepLinkUrl }}"
                  data-back-url="{{ contactLogUrl }}">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">

                {{ govukRadios({
                    name: "contactType",
                    idPrefix: "contactType",
                    fieldset: {
                        legend: {
                            text: "Select a contact",
                            classes: "govuk-fieldset__legend--s"
                        }
                    },
                    items: radioItems,
                    errorMessage: { text: errorMessages.contactType } if errorMessages.contactType
                }) }}

                {{ govukButton({
                    text: "Continue",
                    attributes: { "data-qa": "continue-button" }
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
