{% extends "../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set backLink = backUrl %}

{% block pageTitle %}
    Do you want to alert the responsible officer? - {{ headerPersonName.forename }} {{ headerPersonName.surname }}
{% endblock %}

{% block content %}
    {% include "../../partials/pop-header.njk" %}

    {% if errors %}
        {% set errorList = [] %}
        {% for field, message in errors %}
            {% set errorList = (errorList.push({
                text: message,
                href: "#" + field
            }), errorList) %}
        {% endfor %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
        }) }}
    {% endif %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" novalidate>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">

                {{ govukRadios({
                    name: "alertResponsibleOfficer",
                    fieldset: {
                        legend: {
                            text: "Do you want to alert " + responsibleOfficerName + " (the responsible officer) about this contact?",
                            classes: "govuk-fieldset__legend--l",
                            isPageHeading: false
                        }
                    },
                    items: [
                        {
                            value: "yes",
                            text: "Yes",
                            checked: formValues.alertResponsibleOfficer === "yes"
                        },
                        {
                            value: "no",
                            text: "No",
                            checked: formValues.alertResponsibleOfficer === "no"
                        }
                    ],
                    errorMessage: { text: errors.alertResponsibleOfficer } if errors.alertResponsibleOfficer
                }) }}

                {{ govukButton({
                    text: "Create contact",
                    attributes: { "data-qa": "create-contact-button" }
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
