$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "govuk-frontend/dist/govuk/index";
@import "@ministryofjustice/frontend/moj/all";
@import '../../node_modules/@ministryofjustice/hmpps-arns-frontend-components-lib/dist/_all.scss';

@import './components/header-bar';
@import './components/predictor-scores';
@import './components/contact-list';
@import './components/category-search';
@import './components/add-frequent-contact-tabs';
@import './components/autocomplete';
@import './overrides/local';
@import './components/summary-card';
@import './components/document';
