$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "govuk-frontend/dist/govuk/index";
@import "@ministryofjustice/frontend/moj/all";

@import './components/header-bar';
@import './components/predictor-scores';
@import './components/contact-list';
@import './components/category-search';
@import './overrides/local';



.govuk-tabs {
  border: 0;
}

.govuk-tabs__list {
  margin: 0 0 10px 0;
  padding: 0;
  border: 0;
}

.govuk-tabs__list-item {
  margin: 0 20px 0 0;
  padding: 0;
  border: 0;
  background: transparent;
}

.govuk-tabs__list-item--selected {
  border: 0 !important;
  background: transparent !important;
  margin-bottom: 0;
  padding: 0;
}

.govuk-tabs__tab {
  border: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
  margin: 0;
  padding: 12px 0;
  text-decoration: none;
}


.govuk-tabs__list-item--selected .govuk-tabs__tab {
  border-bottom: 4px solid #1d70b8 !important;
  font-weight: 700;
}


.govuk-tabs__panel {
  border: 0 !important;
  padding: 20px 0 0 0;
  margin: 0;
}

.govuk-tabs__panel--hidden {
  display: none;
}

.govuk-tabs__tab {
  background: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
}


.govuk-tabs__list-item {
  border: 0 !important;
  background: transparent !important;
}


.govuk-tabs__list-item--selected {
  border: 0 !important;
  background: transparent !important;
}


.govuk-tabs__tab {
  color: #1d70b8 !important;
}


.govuk-tabs__list-item--selected .govuk-tabs__tab {
  color: #0b0c0c !important;
  text-decoration: none !important;
}
