.govuk-main-wrapper {
  min-height: 600px;
}

.secondary-text {
  color: $govuk-secondary-text-colour;
}

.inline-list-from-tablet {
  > li {
    @include govuk-media-query($from: tablet) {
      display: inline;
    }
  }
}

.hide-mobile {
  @include govuk-media-query($until: tablet) {
    display: none;
  }
}

.line-break {
  white-space: pre-line;
}

.app-note__author {
  margin-bottom: govuk-spacing(1);
}
